body{
    background-color: blueviolet (220,190,220);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background:url("IMG_9521.JPG");
    font-size: 35px;
    text-align: center;
}
.box{
    background-color: black(220,100,210);

    margin: 12px;
    padding: 20;
    border-width: 1.2vw;

}


img{
    border-radius: 50px;


}

iframe{
    border-radius: 40px;

}

h1{
    color: black(222,90,300);
    text-align: center;

}

p{
    color: grey(200,150,230);
    

}